.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  width: 80vw;
  margin: 0 auto;
}

.country{
  position: relative;
  cursor: pointer;
  padding: 1em 0em;
  border: solid 1px #b7b7b7;
}

.country>.contextual-container>.contextual-menu{
  position: absolute;
  right: 2%;
  top: 10%;
}

.country>.contextual-container>.contextual-dropdown{
  position: absolute;
  top: 10%;
  right: 12%;
}

.contextual-dropdown{
  width: 65%;
  background-color: white;
  box-shadow: 1px 1px 8px #909090;
  border-radius: 4px;
}

.selected{
  background-color: #55b4e1;
}

.contextual-container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
}

.contextual-menu > svg{
  width: 25px;
}

.contextual-dropdown__row{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5em 1em;
}

.contextual-dropdown__row>svg{
  width: 10%;
  margin-right: 5px;
}

.contextual-dropdown__row:hover {
  background-color: #d5d5d5;
}